* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #E8E6CF;
}

.container {
  max-width: 600px;
  background-color: #FFFFFF;
  margin: 30px auto;
  padding: 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


.container h1 {
  margin-bottom: 25px;
}

.add-todo {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.add-todo input {
  margin-right: 10px;
  padding: 8px;
  font-size: 1.2rem;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: solid;
  border-color: #E1E2E4;
  outline: none;
}

.add-todo button {
  color: #13C8EC;
  font-size: 65px;
  margin-top: -8px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.add-todo button:hover {
  color: #21a3bd;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  background-color: #EEEEEE;
  margin-bottom: 10px;
  padding: 15px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.title input,
.title p {
  display: inline;
}

.title input {
  margin-right: 10px;
}

.title p {
  text-transform: uppercase;
  font-weight: 600;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

.icons button:first-child {
  color: #13C8EC;
}

.icons button:first-child,
.icons button:last-child {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.icons button:last-child {
  color: #D63A40;
  margin-left: 10px;
}

.clear-todo {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.message {
  font-weight: 600;
  visibility: hidden;
  background-color: rgb(241, 12, 12, 0.2);
  width: 78%;
  border-radius: 5px;
  padding: 10px 10px 13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.show-message {
  visibility: visible;
}

.clear-todo button {
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  background-color: #D63A40;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.clear-todo button:hover {
  background-color: #b92f34;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

/* responsiveness */
@media only screen and (max-width: 500px) {
  .container {
      padding: 10px;
  }

  .clear-todo button {
      padding: 3px 5px;
      font-size: 0.9rem;
  }
}